* {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  margin-top: 65px;
}
.container .heading {
  color: rgb(47, 47, 148);
}
.container .para {
  color: gray;
}
.content {
  height: auto;
  width: 45%;
  text-align: center;
  margin: auto;
  display: block;
  padding: 10px;
  margin-top: 35px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.content .btn {
  color: white;
  background-color: rgb(47, 47, 148);
  padding: 10px 20px;
  margin: 50px 15px 10px;
  border: none;
  cursor: pointer;
 
}